/*----------------------------------------
	elements item
----------------------------------------*/
@use "../abstract" as *;

.rs-doc {
  &__elements-inner {
    padding-top: 80px;
    @media #{$md} {
      padding-top: 60px;
    }
    @media #{$sm,$xs} {
      padding-top: 40px;
    }
    p {
      margin-bottom: 30px;
      span {
        font-weight: 500;
      }
    }
  }
}

// elements item css
.rs-doc {
  &__elements {
    &-item {
      padding-top: 50px;
    }
    &-inner {
      h4 {
        margin-bottom: 10px;
      }
    }
  }
}
// alert css
.alert-info {
  background: var(--theme-bg-primary);
  border-color: transparent;
  h5 {
    color: var(--rs-primary);
  }
  i {
    color: var(--rs-primary);
  }
}
