/*----------------------------------------
	hero item
----------------------------------------*/
@use "../abstract" as *;

.rs-doc__header-inner {
  padding-top: 80px;
  @media #{$md} {
    padding-top: 60px;
  }
  @media #{$sm,$xs} {
    padding-top: 50px;
  }
  p {
    margin-bottom: 18px;
    span {
      font-weight: 500;
    }
  }
}

// default-header
.rs-doc {
  &__header-default {
    padding-top: 60px;
    @media #{$md} {
      padding-top: 50px;
    }
    @media #{$sm,$xs} {
      padding-top: 40px;
    }
    &-inner {
      p {
        margin-bottom: 30px;
      }
    }
  }
}

// transparent-header
.rs-doc {
  &__header-transparent {
    padding-top: 60px;
    @media #{$md} {
      padding-top: 50px;
    }
    @media #{$sm,$xs} {
      padding-top: 40px;
    }
    &-inner {
      p {
        margin-bottom: 30px;
      }
    }
  }
}
// topbar-header
.rs-doc {
  &__header-search-box {
    padding-top: 60px;
    @media #{$md} {
      padding-top: 50px;
    }
    @media #{$sm,$xs} {
      padding-top: 40px;
    }
    &-inner {
      p {
        margin-bottom: 30px;
      }
    }
  }
}
// center-header
.rs-doc {
  &__header-center {
    padding-top: 60px;
    @media #{$md} {
      padding-top: 50px;
    }
    @media #{$sm,$xs} {
      padding-top: 40px;
    }
    &-inner {
      p {
        margin-bottom: 30px;
      }
    }
  }
}
